body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #37474f;
}

#chartBacktracking, #chartGreedy {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#roomsBacktracking, #roomsGreedy {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.room {
    background-color: #ffffff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.no-room {
    background-color: #ffffff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #37474f;
    font-size: 18px;
}

.class-item {
    background-color: #e3f2fd;
    border: 1px solid #90caf9;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
    text-align: center;
}

button {
    background-color: #ff5c5c;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e64a19;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
}

form label, form input {
    margin: 5px;
}

input[type="text"], input[type="time"], input[type="number"] {
    padding: 5px;
    margin: 5px;
    border: 1px solid #cfd8dc;
    border-radius: 5px;
}

#maxRoomSetting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#algorithmChoice {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#classesList {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #cfd8dc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #37474f;
    color: white;
}

td {
    background-color: #ffffff;
    border: 1px solid #cfd8dc;
    color: #333;
}

tr:nth-child(even) td {
    background-color: #e3f2fd;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff5c5c;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #e64a19;
}
